<div class="flex text-center m-5 rounded-2xl bg-slate-300 ">
    <div class="flex-auto">
        *Image*
    </div>

    <div class="flex-auto">
        <p class="font-bold">Symbol:</p>
        <p class="font-bold">*Ticker Symbol*</p>
    </div>

    <div class="flex-auto">
        <p class="font-bold">Current Price (CAD)</p>
        <p class="font-bold">*$$$*</p>
    </div>

    <div class="flex-auto">
        <p class="font-bold">% Price Change in 14 Days (CAD)</p>
        <p class="font-bold">*%%%*</p>
    </div>

    <div class="flex-auto">
        <p class="font-bold">Market Cap (CAD)</p>
        <p class="font-bold">*CAP*</p>
    </div>
</div>