<div class="flex max-md:grid max-md:grid-cols-2 text-center m-5 rounded-2xl bg-slate-300">
    <div class="flex-auto justify-center mb-4">
        <p class="font-bold text-2xl">{{cryptoName}}</p>
        <img class="h-24 crypto-image drop-shadow-styling" src={{image}} alt={{cryptoId}}>
    </div>

    <div class="flex-auto space-y-6">
        <p class="font-bold text-2xl">Symbol:</p>
        <p class="font-bold text-2xl">{{symbol}}</p>
    </div>

    <div class="flex-auto space-y-6">
        <p class="font-bold text-2xl">Current Price (CAD)</p>
        <p class="font-bold text-2xl" [ngClass]="{'red-text': !isUp, 'green-text': isUp}">${{currentPrice}}</p>
    </div>

    <div class="flex-auto space-y-6">
        <p class="font-bold text-2xl">% Change in 7 Days (CAD)</p>
        <p class="font-bold text-2xl" [ngClass]="{'red-text': !isUp, 'green-text': isUp}">{{priceChange}}%</p>
    </div>

    <div class="flex-auto space-y-6 max-md:col-span-2 max-md:mt-5 max-md:mb-2">
        <p class="font-bold text-2xl">Market Cap (CAD)</p>
        <p class="font-bold text-2xl text-sky-600">${{marketCap}}</p>
    </div>
</div>